
/*BG PRODUTOS*/
.interna_portfolio{
	background: url("../img/bg-portfolio.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
 }


/*INTRODUÇÃO*/

.quote-externo-portfolio{
	max-width: 460px;/*MAXIMO DE 400PX*/
	padding: 60px 0;
	margin: 0 auto;
}
.quote-externo-portfolio p{
	font-style: italic;
	text-align: center;
		font-size: 14px;
	line-height: 20px;/*ESPAÇAMENTO ENTRE LINHAS*/
	font-family: georgia, "Times New Roman", serif;
	margin-bottom: 20px;
}
.cite-portfolio{
	font-weight: bold;
	font-family: arial;
	letter-spacing: .1em;
	font-size: 18px;
	font-style: normal;
	float: right;
}

/*SLIDES CITAÇÕES*/

.rslides, .rslides_portfolio {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li, .rslides_portfolio li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child, .rslides_portfolioli li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img, .rslides_portfolioli img {
  display: block;
  height: auto;
  width: 100%;
  border: 0;
  }

.rslides_tabs {
text-align: center;
margin-top: 14px;
}

.rslides_tabs li a{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: #1d1d1d;
	color: #1d1d1d;
	border-radius: 12px;
	overflow: hidden;

}
.rslides_tabs li {
	margin: 0px 5px;
	display: inline;
}

.rslides_tabs li.rslides_here a{
	background: #fec63e;
	color: #fec63e;
	border-radius: 12px;
	overflow: hidden;
}